from typing import Any

class ResourceSchemaIndex:
    @staticmethod
    def get(resource_type: str) -> Any:
        if resource_type is None:
            raise Exception("Invalid resource type")
{% for resource in resources %}
        elif resource_type == "{{resource}}":
            from spark_fhir_schemas.r4b.resources.{{resource.lower()}} import {{resource}}Schema
            return {{resource}}Schema
{% endfor %}
        else:
            raise Exception(f"Resource Type {resource_type} is unknown")

